html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.title-text {
    font-size: 40px;
    font-weight: 600;
}

.logo-text {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 40px;
    color: white;
    float: left;
    margin: 5px 3vw 0 3vw;
    position: relative;
    top: 2.5%;
    right: 1%;
}

.article-text {
    font-size: 20px;
    font-weight: 300;
}

.footer-text {
    font-size: 15px;
    font-weight: normal;
}

.main-container {
    background: none;
    opacity: 1;
    background-color: #000000;
}

.header-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #000000ad;
}

.article-container{
    width: 100%;
    background-color: #000000ad;
    height: 1700px;
}

/* card */
:root {
    --surface-color: rgb(0, 0, 0);
    --curve: 40;
}

* {
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2%;
    margin: 10%;
    padding: 0;
    list-style-type: none;  
}

.card {
    position: relative;
    display: block;
    height: 50%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    opacity: 0.7;
}

.card:hover {
    opacity: 1;
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.1 );
}

.card__overlay {
    position: absolute;
    height: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: 0.5s ease opacity, 0.5s ease transform, 0.5s ease color;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4%;
    padding: 4%;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: 0.5s ease opacity, 0.5s ease transform, 0.5s ease color;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
}       

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
}

.card__title {
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    margin: 0 0 .3em;
    color: silver;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #531414;  
}

.card__description {
    font-size: 130%;
    padding: 0 1em 2em;
    margin: 0;
    color: #d7bdca;
    font-family: 'Grape Nuts', cursive;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Scroll Cards */

.subarticle11 {
    position: absolute;
    top: 1400px;
    display: flex;
    width: 100%;
    justify-content:center;
}
  
.subarticle11 span {
    background-color: #6e72fc;
    background-image: linear-gradient(0deg, #6e72fc 0%, #ad1deb 90%);
    visibility: hidden;
    opacity: 0;
    color: white;
    font-size: 18px;
    line-height: 25px;
    width: 400px;
    height: 180px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 35px;
}
  
.art11Animation1, .art11Animation2, .art11Animation3, .art11Animation4 {
    transform :translateX(15%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
  
.art11Animation1.active {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    visibility : visible;
    opacity: 1;
    transform: translateY(0%);
}
  
.art11Animation4.active {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    transition-delay: 0.5s;
    visibility : visible;
    opacity: 1;
    transform: translateY(0%);
}


/* slideshow */

.slideshow{
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 85%;
    position: absolute;
    overflow: hidden;
    top: 240%;
    left: 6%;
    border-radius: 7px;
}
.slideshow h2{
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 54s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 6s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 12s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
    animation-delay: 18s;
}
.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img{
    animation-delay: 24s;
}
.slideshow-item:nth-child(6),
.slideshow-item:nth-child(6) img{
    animation-delay: 30s;
}
.slideshow-item:nth-child(7),
.slideshow-item:nth-child(7) img{
    animation-delay: 36s;
}
.slideshow-item:nth-child(8),
.slideshow-item:nth-child(8) img{
    animation-delay: 42s;
}
.slideshow-item:nth-child(9),
.slideshow-item:nth-child(9) img{
    animation-delay: 48s;
}

.slideshow-item-text{
    max-width: 63%;
    position: absolute;
    text-align: left;
    top: 46%;
    left: 3%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.747);
}

.slideshow-item-text h5{
    font-size: 5rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    margin-bottom: 2.0rem;
}

.slideshow-item-text p{
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.header-text {
    flex: 1 1 10%;
    align-self: center;
    font-size: 70px;
    color: white;
    font-weight: 500;
}

nav {
    position: fixed;
    flex: 1 1 10%;
    text-align: center;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.63);
}

nav ul {
    width: 100%;
    margin-left: 10%;
    list-style: none;
    color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
}

nav ul li {
    margin: 22px 40px 0px 20px;
    width: 9%;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

nav ul li:hover {
    box-shadow: inset 0 3px rgb(255, 255, 255);
    opacity: 1;
    transition-duration: 0.3s;
}


.footer-container{
    background-color: rgba(40, 69, 188, 0.742);
}

.foot1 {
    width: 100%;
    height: 460px;
    position: relative;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

table, th, td {
    border: 2px solid black;
    font-weight: bold;
}

th{
    background-color: black;
    color: white;
}

.foot2 {
    background-color: #262626;
}

.footerBar {
    display: inline-block;
    width: 100%;
    height: 15vh;
    text-align: center;
    color: #BBBBBB;
    border-radius: 100%;
}

.socialIcons {
    border-radius: 100%;
    display: inline-block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding-top: 5px ;
    font-size: 160px;
    margin: 15px;
    margin-top: 30px;
    text-decoration: none;
}

@keyframes cycleImages{
    7%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
}
  
  @keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}